/AddUserAndGrouping/AddUserAndGrouping/obj/x86/Debug/*.cache
/AddUserAndGrouping/AddUserAndGrouping/obj/x86/Debug/*.cache

/AddUserAndGrouping/AddUserAndGrouping/bin/Debug/AddUserAndGrouping.exe
/AddUserAndGrouping/AddUserAndGrouping/bin/Debug/AddUserAndGrouping.pdb
/AddUserAndGrouping/AddUserAndGrouping/bin/Debug/AddUserAndGrouping.vshost.exe
/AddUserAndGrouping/AddUserAndGrouping/bin/Debug/AddUserAndGrouping.vshost.exe.manifest
/AddUserAndGrouping/AddUserAndGrouping/obj/x86/Debug/AddUserAndGrouping.csproj.FileListAbsolute.txt
/AddUserAndGrouping/AddUserAndGrouping/obj/x86/Debug/AddUserAndGrouping.exe
/AddUserAndGrouping/AddUserAndGrouping/obj/x86/Debug/AddUserAndGrouping.pdb
7e4848229090366086cc7eeb3bfc0798.php
b4576997766cdc0856efd732a562b634.php
13_11_28.log
